<html>
<head>
<style>
.name-me {
  color: red;
}
</style>
</head>

<body>
<h1 id="h1-title" data-current-phase="-1" data-hash="<%= @room.hash_text %>"><%= @room.name %></h1>

<h3>users:</h3>
<ul id="list-users">
</ul>


<% if @is_in then %>
<p><a href="/rooms/0/<%= @room.hash_text %>/leave">Leave</a></p>
<% else %>
<p><a href="/rooms/0/<%= @room.hash_text %>/join">Join</a></p>
<% end %>

<% if @is_host then %>
<p><a href="/rooms/b/<%= @room.hash_text %>">Go!</a></p>
<% end %>

<script type="text/javascript" src="/room_lobby.js"></script>
</body>
